/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}



body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
	width: 255px;
	margin-bottom: 20px;
	height: 40px;
}


.buttons {
	display: grid;
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: repeat(4, 60px);

	gap: 5px;
	justify-content: start;
}


.num[value="7"] {
	grid-area: 1 / 1 / 2 / 2;
}

.num[value="8"] {
	grid-area: 1 / 2 / 2 / 3;
}

.num[value="9"] {
	grid-area: 1 / 3 / 2 / 4;
}

.num[value="4"] {
	grid-area: 2 / 1 / 3 / 2;
}

.num[value="5"] {
	grid-area: 2 / 2 / 3 / 3;
}

.num[value="6"] {
	grid-area: 2 / 3 / 3 / 4;
}

.num[value="1"] {
	grid-area: 3 / 1 / 4 / 2;
}

.num[value="2"] {
	grid-area: 3 / 2 / 4 / 3;
}

.num[value="3"] {
	grid-area: 3 / 3 / 4 / 4;
}

.num[value="0"] {
	grid-area: 4 / 2 / 5 / 3;
}

.op[value="+"] {
	grid-area: 1 / 4 / 2 / 5;
}

.op[value="-"] {
	grid-area: 2 / 4 / 3 / 5;
}

.op[value="√"] {
	grid-area: 3 / 4 / 4 / 5;
}

.op[value="²"] {
	grid-area: 4 / 1 / 5 / 2;
}

#clear {
	grid-area: 4 / 3 / 5 / 4;
}

#equals {
	grid-area: 4 / 4 / 5 / 5;
}